<body>
  <header>Welcome to my project! Please login or signup</header>
  <form id="login" method="post" action="/login">
    <label for="email-login">E-mail</label>
    <input type="email" id="email-login" name="email-login" />
    <br>

    <label for="passowrd">Password</label>
    <input type="password" id="password" name="password" />
    <br>

    <label for="submit-login">Submit</label>
    <br>
    <input type="submit" id="submit-login" name="submit-login" />
    
  </form>

  <br>
  <br>
  <form id="signup" method="POST" action="/signup">
    <label for="first-name">First Name</label>
    <input type="text" id="first-name" name="first-name" />
    <br>

    <label for="second-name">Second Name</label>
    <input type="text" id="second-name" name="second-name" />
    <br>

    <label for="email-signup">Email address</label>
    <input type="email" id="email-signup" name="email-signup" />
    <br>

    <label for="password-signup">Password</label>
    <input type="text" id="password-signup" name="password-signup" />
    <br>

    <label for="submit-signup">Submit</label>
    <br>
    <input type="submit" id="submit-signup" name="submit-signup" />
  </form>
</body>