<h2>Please Signup</h2>
<form method="POST" action="/signup">
  <label form="first_name">First Name</label>
  <input type="text" id="first_name" name="first_name"/>
  <br/>

  <label form="last_name">Last Name</label>
  <input type="text" id="last_name" name="last_name"/>
  <br/>

  <label form="email">Email</label>
  <input type="email" id="email" name="email"/>
  <br/>

  <label form="password">Password</label>
  <input type="password" id="password" name="password"/>
  <br/>

  <input type="submit"/>

</form>